* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
}

#app {
  position: relative;
  overflow-x: hidden;
}

/* TYPOGRAPHIES */
h1 {
  color: $black;
  font-family: $font-primary;
  font-size: $font-size-h1-desktop-adaptable;
  font-weight: $font-weight-bold;
  @media screen and (max-width: $breackpoint-small) {
    font-size: $font-size-h1-mobile-adaptable;
  }
  @media screen and (min-width: $breackpoint-large) {
    font-size: $font-size-h1;
  }
}

h2 {
  color: $grey;
  font-family: $font-primary;
  font-size: $font-size-h2-desktop-adaptable;
  font-weight: $font-weight-normal;
  @media screen and (max-width: $breackpoint-small) {
    font-size: $font-size-h2-mobile-adaptable;
  }
  @media screen and (min-width: $breackpoint-large) {
    font-size: $font-size-h2;
  }
  &.section-title {
    text-align: center;
    color: $grey-dark;
    font-size: $font-size-h2-section-title-desktop;
    font-weight: $font-weight-bold;
    margin-bottom: 8rem;
    @media screen and (max-width: $breackpoint-medium) {
      font-size: $font-size-h2-section-title-medium;
    }
    @media screen and (max-width: $breackpoint-small) {
      font-size: $font-size-h2-section-title-mobile;
    }
  }
}

h3 {
  color: $black;
  font-family: $font-primary;
  font-size: $font-size-h3-desktop;
  font-weight: $font-weight-normal;
  @media screen and (max-width: $breackpoint-medium) {
    font-size: $font-size-h3-medium;
  }
  @media screen and (max-width: $breackpoint-small) {
    font-size: $font-size-h3-mobile;
  }
}

p {
  font-family: $font-primary;
  font-size: $font-size-p-desktop;
  font-weight: $font-weight-normal;
  line-height: 145%;
  @media screen and (max-width: $breackpoint-medium) {
    font-size: $font-size-p-mobile;
  }
}

/* BUTTONS */
button {
  border: none;
}
// TODO: impove responsiveness -> change button class name for responsiveness to avoid affect all buttons
.button {
  position: relative;
  display: flex;
  height: 45px;
  width: 185px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  @media screen and (max-width: $breackpoint-medium) {
    height: 40px;
  }
  @media screen and (max-width: $breackpoint-small) {
    width: 55vmin;
    min-width: 185px;
  }
  &:hover {
    cursor: pointer;
  }
}
.button-text {
  font-size: $font-size-button;
  font-weight: $font-weight-bold;
  @media screen and (max-width: $breackpoint-medium) {
    font-size: $font-size-button-mobile;
  }
}
